ul li:hover,ul li.active { 
    position: relative;
    background: green;
    border-color: blueviolet;
    background-position: right bottom;
    border-radius: 15px;
    display:inline-block;
}